body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0%;
}


*{
    box-sizing: border-box;
}

nav{
    background-color: rgb(57, 57, 238);
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
}

.logo h4{
    font-size: 20px;
    padding: 10px 0px 10px 40px;
    color: white;
}

.menu{
    display: flex;
    padding: 10px 40px 10px 0px;
    
}
.menu li{
    list-style: none;
    margin-right: 30px;
    font-size: 17px;
    color: white;
    cursor: pointer;
}

.contant{
    padding: 40px 100px;
    width: 100%;
    background-color: teal;
}
.active{
     margin-top: 30px;
    padding: 10px 14px;
    width: 100%;
}
.data{
    
   background-color: thistle;
    display: none;
    flex-direction: column;
    transition: height 2ms;
}
.data.show{
    display: flex;
}
input{
    padding: 10px 14px;
    margin: 10px 10px;
}
th,td{
    border: 1px solid black;
    width: 50%;
    background-color: white;
}
 
.text{
     color: red;
    font-size: 20px;
    margin-left: 20px;
}